{
  presets: [ 'es2015', 'es2016', 'es2017', 'react', 'flow' ],
  plugins: [
    'transform-inline-environment-variables',
    'transform-class-properties',
    'transform-object-rest-spread',
  ],
}
